@page
@model UsersModel

<h3 class="mb-3">Users</h3>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Permissions</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    @foreach (var u in Model.Users)
    {
        <tr>
            <td>@u.Username</td>
            <td>@u.Role</td>
            <td>@u.Permissions</td>

            <td>
                <a class="btn btn-sm btn-primary"
                   asp-page="/Account/Permissions"
                   asp-route-id="@u.Id">
                    Manage
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
